.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;

  .label {
    margin: 0;
    font-size: var(--font-size-xsmall);
    color: var(--color-dark);
  }
  .inputBox {
    width: 6rem;
    padding: var(--padding-vertical-small);
    border: none;
    border-bottom: 1px solid var(--color-grey-80);
    color: var(--color-dark);
    text-align: left;
    cursor: pointer;
    line-height: 1.2;
    .placeholder {
      color: var(--color-grey-80);
    }
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 10rem;
  margin-top: 3px;
  z-index: 10;
  border: 1px solid var(--color-grey-10);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-light);
  color: var(--color-dark);
  overflow-y: auto;
}

.option {
  min-height: 3rem;
  padding: var(--padding-xsmall);
  cursor: pointer;
  transition: background-color 0.3s;

  &.disabled {
    color: var(--color-grey-80);
    pointer-events: none;
    cursor: not-allowed;
  }
  &:hover {
    background-color: var(--color-grey-40);
  }
  &:active {
    background-color: var(--color-grey-50);
  }
}
