@use "../../shared/styles/variables" as *;
@use "../../shared/styles/global" as *;

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  padding: 1.25rem 4rem;

  box-shadow: 0px 3px 2px -1px var(--color-grey-10);
  z-index: 10;

  .leftSide,
  .rightSide {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
  }
  .logoIcon {
    svg {
      color: var(--color-dark);
    }
  }

  .currentMonth {
    color: var(--color-dark);
  }

  .userLogout {
    cursor: pointer;
    position: relative;

    .user {
      display: flex;
      align-items: center;
      gap: var(--gap-xsmall);

      .username {
        color: var(--color-dark);
      }
      .userAvatar {
        display: flex; /* превращаем в flex-контейнер */
        align-items: center; /* вертикальное выравнивание */
        justify-content: center; /* горизонтальное выравнивание */

        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: var(
          --color-green-avatar
        ); /* поправил синтаксис переменной */

        color: #fff;
        font-weight: var(--font-weight-bold);
        font-size: 1.5rem;

        .avatarImg {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    button {
      position: absolute;
      top: 2.5rem;
    }
  }
}
