.weekContainer {
  display: flex;
  height: 100vh;
  background-color: var(--background-color-light);
}
.weekContainer .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 90vh;
  margin: var(--margin-custom);
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 2px 2px var(--color-grey-10);
  background-color: var(--color-light);
}
.weekContainer .wrapper .headerContainer {
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0px 1px 2px 2px var(--color-grey-10);
}
.weekContainer .wrapper .headerContainer .weekDays,
.weekContainer .wrapper .headerContainer .allDayEvents {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
  border-radius: 0.5rem 0.5rem 0 0;
}
.weekContainer .wrapper .headerContainer .weekDays .empty,
.weekContainer .wrapper .headerContainer .allDayEvents .empty {
  position: sticky;
  flex: 0 0 4.375rem;
  left: 0;
  z-index: 4;
}
.weekContainer .wrapper .headerContainer .weekDays .dayLabel,
.weekContainer .wrapper .headerContainer .weekDays .allDayCell,
.weekContainer .wrapper .headerContainer .allDayEvents .dayLabel,
.weekContainer .wrapper .headerContainer .allDayEvents .allDayCell {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  border-left: 1px solid var(--color-grey-10);
  color: var(--color-dark);
}
.weekContainer .wrapper .headerContainer .weekDays .dayLabel > span:first-of-type,
.weekContainer .wrapper .headerContainer .weekDays .allDayCell > span:first-of-type,
.weekContainer .wrapper .headerContainer .allDayEvents .dayLabel > span:first-of-type,
.weekContainer .wrapper .headerContainer .allDayEvents .allDayCell > span:first-of-type {
  font-weight: var(--font-weight-bold);
}
.weekContainer .wrapper .headerContainer .weekDays .dayLabel > span:last-of-type,
.weekContainer .wrapper .headerContainer .weekDays .allDayCell > span:last-of-type,
.weekContainer .wrapper .headerContainer .allDayEvents .dayLabel > span:last-of-type,
.weekContainer .wrapper .headerContainer .allDayEvents .allDayCell > span:last-of-type {
  font-size: var(--font-size-xsmall);
}
.weekContainer .wrapper .headerContainer .weekDays .dayLabel.today,
.weekContainer .wrapper .headerContainer .weekDays .allDayCell.today,
.weekContainer .wrapper .headerContainer .allDayEvents .dayLabel.today,
.weekContainer .wrapper .headerContainer .allDayEvents .allDayCell.today {
  color: var(--color-dark-constant);
}
.weekContainer .wrapper .headerContainer .weekDays .dayLabel.today::before,
.weekContainer .wrapper .headerContainer .weekDays .allDayCell.today::before,
.weekContainer .wrapper .headerContainer .allDayEvents .dayLabel.today::before,
.weekContainer .wrapper .headerContainer .allDayEvents .allDayCell.today::before {
  content: "";
  position: absolute;
  inset: var(--padding-xsmall);
  border-radius: var(--border-radius);
  z-index: -1;
  background-color: var(--color-pale-green);
}
.weekContainer .wrapper .headerContainer .weekDays .dayLabel,
.weekContainer .wrapper .headerContainer .allDayEvents .dayLabel {
  align-items: center;
  padding: var(--padding-xsmall);
}
.weekContainer .wrapper .headerContainer .weekDays .allDayCell,
.weekContainer .wrapper .headerContainer .allDayEvents .allDayCell {
  align-items: flex-start;
  justify-content: flex-start;
}
.weekContainer .wrapper .headerContainer .weekDays {
  min-height: 3.75rem;
}
.weekContainer .wrapper .eventsLayer {
  display: flex;
  position: absolute;
  left: 4.375rem;
  top: 0;
  right: 0;
  z-index: 5;
}
.weekContainer .wrapper .eventsLayer .dayColumn {
  position: relative;
  flex: 1 0 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.weekContainer .wrapper .gridWrapper {
  position: relative;
  flex: 1;
  overflow-y: auto;
}
.weekContainer .wrapper .gridWrapper .weekGrid {
  display: grid;
  grid-template-columns: 4.375rem repeat(7, 1fr);
}
.weekContainer .wrapper .gridWrapper .weekGrid .dayColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.weekContainer .wrapper .gridWrapper .weekGrid .time {
  position: relative;
}
.weekContainer .wrapper .gridWrapper .weekGrid .time:first-of-type {
  visibility: hidden;
}
.weekContainer .wrapper .gridWrapper .weekGrid .time .timeLabel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-dark);
  white-space: nowrap;
}
.weekContainer .wrapper .gridWrapper .weekGrid .hourCell {
  height: 5rem;
  border-left: 1px solid var(--color-grey-10);
  border-bottom: 1px solid var(--color-grey-10);
}
.weekContainer .wrapper .gridWrapper .weekGrid .hourCell:hover {
  background-color: var(--color-grey-30);
  cursor: pointer;
}/*# sourceMappingURL=WeekView.module.css.map */