.row {
  display: flex;
  margin-bottom: var(--margin-small);
  align-items: flex-end;
  gap: var(--gap-small);
  .icon {
    margin-bottom: var(--margin-small);
  }
}

.repeat {
  display: flex;
  align-items: center;

  .select {
    min-width: 12rem;
    padding-left: var(--padding-small);
    z-index: 10;
  }
}

.description {
  width: 100%;
}

.submitButton {
  display: flex;
  justify-content: end;
}
